body {
  margin: 0;
  padding: 0;

  min-width: 320px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Pattern wich hides elements that aren't on temlate, but should be form semantic */
.visually-hidden {
  position: absolute !important;

  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;

  border: 0 !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* General title for sections */
.title {
  margin: 0;

  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
  color: #fff;
}

/* General title for items */
.item-title {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
}

/*General button*/
.btn {
  padding: 7px 28px;

  font-size: 18px;
  line-height: 22px;
  color: inherit;

  border: 1px solid #000000;
  border-radius: 3px;
}

/* page-header */
.page-header {
  padding-bottom: 60px;

  background: pink;
  background-image: url("../images/header-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-nav {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-nav__item {
  margin-right: 5px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  padding: 8px 23px;

  font-size: 18px;
  line-height: 22px;

  background-color: rgb(255, 255, 255, 0.8);
}

.site-nav__item:first-child a {
  border-radius: 0px 0px 0px 30px;
}

.site-nav__item:last-child a {
  border-radius: 0px 0px 30px 0px;
}
/* section products */

.products {
  padding-top: 84px;
  padding-bottom: 133px;
}

.products__title {
  margin-bottom: 32px;

  color: #000;
}

.products__item {
  margin-bottom: 137px;
}

.products__item:last-child {
  margin-bottom: 0;
}

.products__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product__image {
  margin-bottom: 45px;
}

.product__title {
  margin-bottom: 13px;

  color: #000;
  font-weight: 900;
}

.product__show-all {
  font-size: 14px;
  line-height: 21px;
}

.product__status {
  margin: 0;
  margin-bottom: 13px;

  font-size: 14px;
  line-height: 17px;
}

.product__text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.product__text--key {
  font-weight: 700;
}

.product__text--engine,
.product__text--fuel {
  margin-bottom: 9px;
}

.product__text--safety {
  margin-bottom: 15px;
}

.product__text--pledge {
  margin-bottom: 23px;
}

/* section features */

.features {
  position: relative;

  padding-top: 77px;
  padding-bottom: 135px;

  background-color: #393939;
  background-image: url("../images/features-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.features:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  background: rgba(57, 57, 57, 0.8);
}

.features > * {
  position: relative;

  z-index: 5;
}

.features__title {
  margin-bottom: 90px;

  text-align: center;
}

.features__item {
  position: relative;

  padding-left: 118px;
  margin-bottom: 55px;
  max-width: 445px;
}

.features__item--1::after,
.features__item--4::after,
.features__item--5::after {
  background-image: url("../images/fuel.svg");
}

.features__item--2::after,
.features__item--3::after,
.features__item--6::after {
  background-image: url("../images/warning.svg");
}

.features__item--5,
.features__item--6 {
  margin-bottom: 0;
}

.features__item:before {
  position: absolute;
  left: 90px;
  top: 0;
  content: "";

  width: 3px;
  height: 77px;

  background-color: #fff;
}

.features__item:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";

  width: 70px;
  height: 70px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.features__item-title {
  margin-bottom: 13px;
}

.features__item-text {
  margin: 0;

  color: #fff;
}

/* page-footer */
.page-footer {
  padding: 25px 0;

  color: #fff;

  background: #000;
}

.page-footer__policy {
  margin: 0;

  line-height: 20px;
}

/* Extra Large Devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1199px) {
}

/* Large Devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 991px) {
}

/* Medium Devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 767px) {
}

/* Small Devices */

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 575px) {
}
