body {
  margin: 0;
  padding: 0;

  min-width: 320px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

html {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Pattern wich hides elements that aren't on temlate, but should be form semantic */
.visually-hidden {
  position: absolute !important;

  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;

  border: 0 !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* General title for sections */
.title {
  margin: 0;

  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
  color: #fff;
}

/* General title for items */
.item-title {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
}

/*General button*/
.btn {
  padding: 7px 28px;

  font-size: 18px;
  line-height: 22px;
  color: inherit;

  border: 1px solid #000000;
  border-radius: 3px;
}

.has-error {
  border-color: red;
}

/* page-header */
.page-header {
  padding-top: 40px;
  padding-bottom: 60px;

  background-color: grey;
  background-image: url("../images/page-header-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__logo {
  flex-grow: 1;
}

.page-header__phone {
  margin-right: 40px;

  font-size: 18px;
  line-height: 22px;
}

.page-header__top {
  margin-bottom: 195px;
}

.page-header__promo {
  margin-bottom: 200px;

  color: #fff;
  text-align: right;
}

.page-header__title {
  margin-bottom: 20px;
}

.page-header__subtitle {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
}

.page-header__subtitle--bold {
  font-weight: 700;
}

.site-nav {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-nav__item {
  margin-right: 5px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  padding: 8px 23px;

  font-size: 18px;
  line-height: 22px;

  background-color: rgb(255, 255, 255, 0.8);
}

.site-nav__item:first-child a {
  border-radius: 0px 0px 0px 30px;
}

.site-nav__item:last-child a {
  border-radius: 0px 0px 30px 0px;
}

.contact {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contact__link {
  position: relative;
}

.contact__link:before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";

  width: 20px;
  height: 20px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.contact__link--whatsapp:before {
  background-image: url("../images/contact-whatsapp.svg");
}

.contact__link--phone:before {
  background-image: url("../images/contact-phone.svg");
}

.contact__link--whatsapp {
  margin-right: 46px;
}

.contact__link--phone {
  margin-right: 90px;
}

/* section products */

.products {
  padding-top: 84px;
  padding-bottom: 133px;
}

.products__title {
  margin-bottom: 32px;

  color: #000;
}

.products__item {
  margin-bottom: 137px;
}

.products__item:last-child {
  margin-bottom: 0;
}

.products__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product__image {
  margin-bottom: 45px;
}

.product__title {
  margin-bottom: 13px;

  color: #000;
  font-weight: 900;
}

.product__show-all {
  font-size: 14px;
  line-height: 21px;
}

.product__status {
  position: relative;

  margin: 0;
  margin-bottom: 13px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 17px;
}

.product__status:before {
  position: absolute;
  content: "";
  left: 0;
  top: 4px;

  width: 10px;
  height: 10px;

  border-radius: 50%;
}

.product__status--reserved:before {
  background-color: #ff7272;
}

.product__status--vacant:before {
  background-color: #3ecf67;
}

.product__text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.product__text--key {
  font-weight: 700;
}

.product__text--engine,
.product__text--fuel {
  margin-bottom: 9px;
}

.product__text--safety {
  margin-bottom: 15px;
}

.product__text--pledge {
  margin-bottom: 23px;
}

/* section features */

.features {
  position: relative;

  padding-top: 77px;
  padding-bottom: 135px;

  background-color: #393939;
  background-image: url("../images/features-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.features:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  background: rgba(57, 57, 57, 0.8);
}

.features > * {
  position: relative;

  z-index: 5;
}

.features__title {
  margin-bottom: 90px;

  text-align: center;
}

.features__item {
  position: relative;

  padding-left: 118px;
  margin-bottom: 55px;
  max-width: 445px;
}

.features__item--1::after,
.features__item--4::after,
.features__item--5::after {
  background-image: url("../images/fuel.svg");
}

.features__item--2::after,
.features__item--3::after,
.features__item--6::after {
  background-image: url("../images/warning.svg");
}

.features__item--5,
.features__item--6 {
  margin-bottom: 0;
}

.features__item:before {
  position: absolute;
  left: 90px;
  top: 0;
  content: "";

  width: 3px;
  height: 77px;

  background-color: #fff;
}

.features__item:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";

  width: 70px;
  height: 70px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.features__item-title {
  margin-bottom: 13px;
}

.features__item-text {
  margin: 0;

  color: #fff;
}

/* page-footer */
.page-footer {
  padding: 25px 0;

  color: #fff;

  background: #000;
}

.page-footer__policy {
  margin: 0;

  line-height: 20px;
}

/* order call */

.order-call {
  display: none;
}

.form {
  padding: 51px 65px !important;
  max-width: 540px;
}

.order-call__title {
  margin-bottom: 43px;

  color: #000;
}

.form__item {
  margin: 0;
  margin-bottom: 20px;
}

.form__input {
  padding-top: 9px;
  padding-right: 21px;
  padding-bottom: 5px;
  padding-left: 21px;
  width: 100%;

  font: inherit;
  color: #000;

  border: 1px solid #494949;
  border-radius: 3px;
}

.form-input::placeholder {
  color: #b5b5b5;
}

.form__send-btn {
  display: block;
  margin: 0 auto;

  font: inherit;
  text-align: center;

  background-color: transparent;
  cursor: pointer;
}

/* Extra Large Devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1199px) {
}

/* Large Devices */
@media screen and (max-width: 992px) {
  .page-header__logo {
    margin-bottom: 20px;
  }

  .page-header {
    padding-bottom: 0;
  }

  .page-header__contact {
    display: none !important;
  }

  .page-header__top {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .page-header__order-call {
    background: #fff;
    border: none;
  }

  .page-header__promo {
    display: none;
  }
  .page-header__phone {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .page-header__promo {
    text-align: left;
  }

  .site-nav {
    flex-direction: column;

    width: 100% !important;
  }

  .site-nav__link {
    padding-left: 0;
    padding-right: 0;
  }

  .site-nav__item {
    margin-bottom: 1px;
    text-align: center;
  }

  .site-nav__item:last-child {
    margin-bottom: 0;
  }

  .site-nav__item:first-child a {
    border-radius: 0;
  }

  .site-nav__item:last-child a {
    border-radius: 0;
  }

  .site-nav__link {
    display: block;
    width: 100 !important;
  }

  .site-nav__item {
    width: 100% !important;
  }

  .products__item {
    margin-bottom: 80px;
  }

  .products__item:last-child {
    margin-bottom: 0;
  }

  .product__show-all {
    display: block;
  }

  .features__item {
    margin-left: 0 !important;
    margin-bottom: 55px;
  }

  .features__item--6 {
    margin-bottom: 55px;
  }

  .features__title {
    text-align: left;
  }
}

/* Medium Devices */
@media screen and (max-width: 768px) {
  .product__prices {
    flex-wrap: wrap;
  }

  .product__text--price {
    margin-bottom: 20px !important;
  }

  .product__order {
    margin-top: 20px;
  }
}

/* Small Devices */

@media screen and (max-width: 576px) {
  .form {
    padding: 30px 30px !important;
  }
}

@media screen and (max-width: 450px) {
  .product__prices {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    text-align: left;
  }

  .features__title {
    max-width: 428px;
  }
}
